@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmação de e-mail";
}

<h1 class="page-header">@ViewData["Title"]<small> eu sabia que podia contar com você!</small></h1>
<hr />
<p>Obrigado por confirmar seu e-mail.</p>
