@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Redefinição de senha";
}

<h1 class="page-header">@ViewData["Title"]<small> você está quase lá!</small></h1>
<hr />
<p>
    Um e-mail foi enviado a você. Por favor, verifique sua caixa de entrada e siga as instruções para criar uma nova senha.
</p>