@page
@model LockoutModel
@{
    ViewData["Title"] = "Usuário inativo";
}

<h1 class="page-header"><span class="text-danger">@ViewData["Title"]</span><small> não sinta-se constrangido, vamos resolver isso.</small></h1>
<hr />
<p>
    Por algum motivo seu acesso foi inativado. Contate o administrador do sistema e regularize esta situação.
</p>
