@page
@model LogoutModel
@{
    ViewData["Title"] = "Sair";
}

<h1 class="page-header">@ViewData["Title"]!<small> poxa, estava tão feliz por trabalhar com você.</small></h1>
<hr />
<p>
    Você saiu do sistema com segurança. Aguardo ansiosamente seu retorno, tmj!
</p>