@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Senha Alterada";
}

<h1 class="page-header">@ViewData["Title"]<small> espetacular! Bora trabalhar?</small></h1>
<hr />
<p>
    Sua senha foi redefinida com sucesso.
</p>
